{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure                      {:mvn/version "1.11.1"}
           org.clojure/core.async                   {:mvn/version "1.5.648"}
           org.clojure/data.csv                     {:mvn/version "1.0.1"}
           org.clojure/data.xml                     {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.zip                     {:mvn/version "1.0.0"}
           org.clojure/tools.logging                {:mvn/version "1.2.4"}

           com.eldrix/nhspd                         {:mvn/version "1.1.40"}
           com.eldrix/trud                          {:mvn/version "1.0.80"}

           cli-matic/cli-matic                      {:mvn/version "0.5.3"}
           clj-bom/clj-bom                          {:mvn/version "0.1.2"}
           com.taoensso/nippy                       {:mvn/version "3.1.1"}
           com.wsscode/pathom3                      {:mvn/version "2022.05.19-alpha"}
           org.apache.lucene/lucene-core            {:mvn/version "9.2.0"}
           org.apache.lucene/lucene-queries         {:mvn/version "9.2.0"}
           org.apache.lucene/lucene-backward-codecs {:mvn/version "9.2.0"}}


 :aliases {:build
           {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
                         slipset/deps-deploy           {:mvn/version "RELEASE"}}
            :ns-default build}

           :pathom-viz
           {:extra-deps {com.wsscode/pathom-viz-connector {:mvn/version "2022.02.14"}}}

           :install
           {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
            :main-opts  ["-m" "com.eldrix.clods.install"]}

           :nhspd
           {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
            :main-opts  ["-m" "com.eldrix.clods.nhspd"]}

           :serve
           {:extra-paths ["serve"]
            :extra-deps  {io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
                          io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}
                          ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
            :main-opts   ["-m" "com.eldrix.clods.serve"]}

           :fhir-r4
           {:extra-paths ["fhir_r4"]
            :extra-deps  {ca.uhn.hapi.fhir/hapi-fhir-base          {:mvn/version "5.3.0"}
                          ca.uhn.hapi.fhir/hapi-fhir-server        {:mvn/version "5.3.0"}
                          ca.uhn.hapi.fhir/hapi-fhir-structures-r4 {:mvn/version "5.3.0"}
                          ch.qos.logback/logback-classic           {:mvn/version "1.2.11"}
                          io.pedestal/pedestal.jetty               {:mvn/version "0.5.10"}
                          javax.servlet/javax.servlet-api          {:mvn/version "4.0.1"}}
            :main-opts   ["-m" "com.eldrix.clods.fhir.r4.serve"]}

           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                     :sha     "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
            :main-opts   ["-m" "cognitect.test-runner"]}

           :log
           {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check" "src"]}

           ;; run with clj -M:serve:fhir-r4:check-all to test all codepaths
           :check-all
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check" "src" "fhir_r4" "serve"]}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "fhir_r4" "serve"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
